<h1>Files</h1> 

<div class="w-full flex justify-between space-x-3">
    <div>
        <p class="italic m-0">Search</p>
        <input type="text" class="border">
    </div>
    <div class="flex space-x-3">
        <!-- <div>
            <button  (click)="[file.click(),isSingle=1]"
                class="upload-button border py-4 text-md border-gray-400">
                Single Upload
            </button>
        </div>
        <div>
            <button  (click)="[file.click(), isSingle=0]"
                class="upload-button border py-4 text-md border-gray-400">
                Multiple Upload
            </button>
        </div>
        <button
            class="flex items-center justify-center border px-4 py-2 shadow-md"
            (click)="uploadFiles()"  >
            <p class="text-sm ">
                <span>Upload</span>
            </p>
        </button> -->
        <button
            class="flex items-center justify-center border px-4 py-2 shadow-md"
            (click)="openModal()">
            <p class="text-sm ">
                <span>Upload</span>
            </p>
        </button>
    </div>
</div> 

<input type="file"  #file   multiple class="hidden" (change)="onFilesSelected2($event)">



<div class="bg-white w-auto m-auto mt-2 md:lg:xl:px-0 pb-10">
    <div class="overflow-hidden rounded-5 border border-colorTheme2">
        <!-- <app-table [labels]="table_headers" [data]="reports"
            class="md:mt-0 lg:mt-0 xl:mt-0">
            <div
                class="grid flex-wrap space-x-1 space-y-1 md:grid sm:flex xl:flex lg:flex justify-start">
                <ng-container>
                    <ng-template #actions let-default let-index="index">
                        <div class="flex justify-center text-center items-center py-2">
                            <button
                                
                                 class="flex items-center text-center h-auto font-medium border border-gray-400 text-sm rounded-5 px-2 py-1 bg-white">
                                <mat-icon [inline]="true"
                                    *ngIf="!default.isOpen">visibility</mat-icon>
                                <mat-icon [inline]="true"
                                    *ngIf="default.isOpen">visibility_off</mat-icon>
                            </button>
                          
                           
                        </div>
                    </ng-template>
                </ng-container>
              
            </div>
        </app-table> -->
    </div>
</div>
<div class="h-20"></div>