<!--- Header -->
<div
    class="w-full h-10 bg-green-600 flex justify-between items-center   space-x-4 px-8 text-white">
    <div class="w-full"></div>
    <div class="w-full flex justify-center text-lg">{{data.title}}</div>
    <div class="w-full flex justify-end">
        <button class="flex items-center text-center  "
            (click)="dialogRef.close()">
            <mat-icon
                aria-hidden="false"
                aria-label="close">close</mat-icon></button>
    </div>
</div>

<!---Body--->
<mat-dialog-content class="  bg-gray-100 ">
    <div class=" h-[750px] ">
        <div
            class="h-full w-full flex flex-col space-y-10 justify-center items-center">
            <div>
                <button  (click)="file.click()"
                    class="upload-button border py-4 text-2xl border-gray-400">
                    Single Upload
                </button>
            </div>
            <div>
                <button  (click)="file2.click()"
                    class="upload-button border py-4 text-2xl  border-gray-400">
                    Multiple Upload
                </button>
            </div>
        </div>
        

    </div>
    <input type="file"  #file  class="hidden">
    <input type="file"  #file2   multiple="multiple" class="hidden" (change)="onFileSelected($event)">
</mat-dialog-content>