<!--- Header -->
<div
    class="w-full h-10 bg-green-600 flex justify-between items-center space-x-4 px-8 text-white">
    <div class="w-full"></div>
    <div class="w-full flex justify-center text-lg">{{data.title}}</div>
    <div class="w-full flex justify-end">
        <button class="flex items-center text-center"
            (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon aria-label="Close">close</mat-icon>
        </button>
    </div>
</div>

<!--- Body -->
<mat-dialog-content class="mat-typography h-full bg-gray-300">

    <div *ngIf=" selectedFiles.length == 0"
        class=" h-full overflow-auto  w-full uploadImage hover:opacity-80 hover:text-opacity-80 flex justify-center items-center flex-col cursor-pointer"
        (click)="file2.click()">
        <mat-icon class="text-[250px] overflow-auto h-auto w-auto" font
            aria-label="download">
            download
        </mat-icon>
        <p>Upload Image</p> 
    </div>
    <!-- <div class="thumbnail flex w-full space-x-5" >
        <div class="h-[75px] w-[75px] border">

        </div>
        <div class="flex justify-start items-center pl-5">
            <ul class="list-disc">
                <li> name </li>
                <li> type </li>
                <li> size </li>
            </ul>
        </div>
    </div> -->
    <div class="thumbnail flex w-full space-x-5  mt-2"
        *ngFor="let label of uploadedFiles; let i = index">
        <div class="h-[75px] w-[100px] border">

        </div>
        <div class="w-full flex justify-start items-center  ">
            <ul class="list-disc ">
                <li> {{label.name}} </li>
                <li>{{label.type}} </li>
                <li> {{label.size}} </li>
            </ul>
        </div>
    </div>
    <input type="file" #file2 multiple="multiple" class="hidden"
        (change)="onFileSelected($event)">

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="selectedFiles.length == 0"
        (click)="uploadFiles()">Upload</button>
</mat-dialog-actions>