<!--- Header -->
<div
    class="w-full h-10 bg-green-600 flex justify-between items-center space-x-4 px-8 text-white">
    <div class="w-full"></div>
    <div class="w-full flex justify-center text-lg">{{data.title}}</div>
    <div class="w-full flex justify-end">
        <button class="flex items-center text-center"
            (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon aria-label="Close">close</mat-icon>
        </button>
    </div>
</div>

<!--- Body -->
<div class="h-full bg-gray-400">
    <div class="h-[80%] w-full flex justify-center items-center text-center"
        (click)="file2.click()">
        <img src="../../../assets/img/img_placeholder.jpg" alt class="h-full w-full " />
        <!-- <img src="../../../assets/img/img_placeholder.jpg" class="h-full w-full"/> -->
        <p class="flex flex-col">
           
            <span>
                <!-- <mat-icon class="text-[5rem] text-blue-500" aria-label="upload">
                    upload
                </mat-icon> -->
              
            </span>
            <span>

            </span>
        </p>
    </div>
    <!-- <div class="flex justify-center mt-4">
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="file2.click()">
            Select Files
        </button>
    </div> -->
</div>

<!--- File Inputs -->
<input type="file" #file2 multiple="multiple" class="hidden"
    (change)="onFileSelected($event)">
