input:not([type]),
input[type="text"], input[type="email"],
 input[type="password"]{
  font-size: 14px;
  padding:5px 30px 5px;
  border:1px solid  rgb(75 85 99);
  border-radius: 8px;
  width:100%;
}

